{% extends 'base_announcements.html' %}
{% load static %}

{% block title %}Newsletter for {{ month|date:"F, Y" }} - {% endblock title %}

{% block og_title %}Newsletter for {{ month|date:"F, Y" }} - {% endblock og_title %}
{% block description %}Central Maryland Martial Arts newsletter for the month of {{ month|date:"F" }} in the year {{ month|date:"Y" }}.{% endblock description %}
{% block og_url %}{% url 'announcements:show_announcements' %}{% endblock og_url %}
{% block twitter_card %}Central Maryland Martial Arts newsletter for the month of {{ month|date:"F" }} in the year {{ month|date:"Y" }}.{% endblock twitter_card %}

{% block content %}

    <h1>Newsletter for {{ month|date:"F, Y" }}</h1>

    {% for announcement in object_list %}
        {% if pub_date != '' %}
            <b>{{ announcement.pub_date|date:"l, F j" }}:<br>
            {{ announcement.title }}</b><br>
            {{ announcement.desc }}
            {% for media in announcement.media %}
                <a href="{% static media.file_name %}" >{{ media.file_name }}</a>
            {% endfor %}<br><br>
        {% endif %}
    {% endfor %}

    <p>
        {% comment %}{% if previous_month %}
            Previous Month: {{ previous_month|date:"F Y" }}
        {% endif %}
        {% if next_month %}
            Next Month: {{ next_month|date: "F Y" }}
        {% endif %}{% endcomment %}
    </p>
{% endblock content %}