{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}

    <h1>Schedule for {{ month|date:"F, Y" }}</h1>

    {% for event in object_list %}
        {% if event_date != '' %}
            <b>{{ event.event_date|date:"l, F j" }}:<br>
            {{ event.announcement }}</b><br>
            {{ event.announcement.desc }}

            <a href="{#% url event_registration_create %#}registration/add/{{ event.pk }}">Sign Up!</a><br><br>
        {% endif %}
    {% endfor %}

    <p>
        {% comment %}{% if previous_month %}
            Previous Month: {{ previous_month|date:"F Y" }}
        {% endif %}
        {% if next_month %}
            Next Month: {{ next_month|date: "F Y" }}
        {% endif %}{% endcomment %}
    </p>
{% endblock content %}