{% extends 'base_announcements.html' %}
{% load static %}

{% block title %}Events in {{ month|date:"F, Y" }} - {% endblock title %}

{% block og_title %}Events in {{ month|date:"F, Y" }} - {% endblock og_title %}
{% block description %}{% endblock description %}
{% block twitter_card %}{% endblock twitter_card %}

{% block content %}

    <h1>Events in {{ month|date:"F, Y" }}</h1>

    {% for event in object_list %}
        {% if event_date != '' %}
            <b>{{ event.event_date|date:"l, F j" }}:<br>
            {{ event.announcement.title }}</b><br>
            {{ event.announcement.desc }}
            {% for media in event.announcement.media %}
                <a href="{% static media.file_name %}">{{ media.file_name }}</a>
            {% endfor %}<br><br>

            <a href="{#% url event_registration_create %#}registration/add/{{ event.pk }}">Sign Up!</a><br><br>
        {% endif %}
    {% endfor %}

    <p>
        {% comment %}{% if previous_month %}
            Previous Month: {{ previous_month|date:"F Y" }}
        {% endif %}
        {% if next_month %}
            Next Month: {{ next_month|date: "F Y" }}
        {% endif %}{% endcomment %}
    </p>
{% endblock content %}